* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    /*    background-color: #eee;*/
}

header {
    width: 100%;
    height: 760px;
    /*    background-image: url(img/main-visual.png);*/
    /*    background-size: cover;*/
}

header ul {
    float: right;
    padding: 0px 50px;
}


header li {
    padding: 30px 20px 0px;
    list-style-type: none;
    display: inline-block;
}

header li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: futura;
    transition: 0.7s;
}

header li a:hover {
    color: #3f5dda;
}

.main-title {
    clear: left;
    text-align: center;
    padding-top: 210px;
}

.main-title img {
    width: 62%;
}

.main-title p {
    color: #fff;
    padding-top: 40px;
    font-size: 42px;
    font-family: futura;
}

.sec-title {
    color: #3f5dda;
    font-size: 52px;
    font-family: futura;
    padding: 50px;
    text-align: center;
}

.btn {
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*introduction*/

.container-intro {
    text-align: center;
}

.content-info {
    /*    background-color: #eee;*/
    display: inline-block;
    overflow: hidden;
    margin: 0 auto 80px;
}

.content-info p {
    /*    font-size: 12px;*/
    width: 400px;
    padding: 0px 50px 30px;
    text-align: left;
    line-height: 30px;
}

.info-top img {
    float: left;
    padding-right: 40px;
}

.info-bottom {
    clear: both;
}

.info-bottom img {
    padding-left: 40px;
}

.info {
    float: left;
    text-align: center;
}

.content-info img {
    width: 500px;
}

.signup-btn {
    padding: 10px 40px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 20px;
}

.info-top .signup-btn {
    background-color: #3f5dda;
}

.info-bottom .signup-btn {
    background-color: #fec000;
}

#infoimgsp {
    display: none;
    1
}

/*Corse*/

#courses {
    position: relative;
    /*    height: 900px;*/
}

.course-title {
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 50px 0px;
}

.container-courses {
    position: absolute;
    top: 160px;
    width: 90%;
    /*    overflow: hidden;*/
    /*    background-color: #eee;*/
    /*    margin: 0px auto 50px;*/
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.course {
    background-color: #fff;
    width: 240px;
    height: 340px;
    text-align: center;
    border-radius: 10px;
    margin: 20px 10px;
    /*    float: left;*/
    display: flex;
    flex-direction: column;

}

.course img {
    padding: 40px 20px 15px;
    width: 100px;
    flex-grow: 1;
}

/*
.html img{
    margin-bottom: 20px;
}

.css img{
    margin-bottom: 4px;
}
*/

.course p {
    margin-bottom: 30px;
    color: #203c5e;
    font-size: 15px;
    font-weight: 700;
}

.course-btn {
    margin: 0px 30px;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    background-color: #fec000;
    padding: 12px 30px;
    border-radius: 10px;
    font-weight: 700;
}

.btn br {
    display: none;
}

.course-img {
    height: 200px;
}

.html .btn {
    background-color: #f16529;
}

.css .btn {
    background-color: #29a9df;
}

.unity .btn {
    background-color: #333333;
}

.ruby .btn {
    background-color: #ff5252;
}

.js .btn {
    background-color: #ffd700;
}

.swift .btn {
    background-color: #fe7536;
}

.go .btn {
    background-color: #73cedd;
}


/*images*/
.images {
    position: relative;
    height: 450px;
    /*    background-color: #ddd;*/
}

.slider {
    width: 80%;
    margin: 0 auto;
}

.slider img {
    width: 100%;
}

/*.slideshow {}*/



/*access*/
.access {
    background-color: #fff;
}

iframe {
    margin: 0px auto 46px;
    display: block;
}

footer {
    background-color: #fff;
    color: #3f5dda;
    text-align: center;
    font-family: futura;
    padding: 20px;
}

/* ---- bgswitcher container ---- */

.bgimg-slider {
    /*
    width: 100vw;
    height: 100vh;
*/
    background-position: center center;
    background-size: cover;
    /*    display: flex;*/
    /*    align-items: center;*/
    justify-content: center;
}

/* ---- particles.js container ---- */
#particles-js {
    width: 100%;
    height: 960px;
    background-color: #d6e5f9;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- fuwatAnime container ---- */

.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}


@media all and (max-width: 500px) {

    header nav {
        display: none;
    }

    .bgimg-slider {

        width: 100vw;
        height: 100vh;
    }


    .main-title {
        clear: left;
        text-align: center;
        position: absolute;
        top: 130px;
    }

    .main-title img {
        width: 70%;
    }

    .main-title p {
        font-size: 16px;
    }

    .sec-title {

        font-size: 30px;
        font-family: futura;
        padding: 30px 0px;

        text-align: center;
    }

    /*intro*/

    .content-info {
        /*        background-color: #eee;*/
        margin: 0;
    }

    .content-info img {
        width: 90vw;
    }

    .info-top {
        height: 620px;
    }

    .info-bottom {
        height: 650px;
    }

    .info-top img {
        padding-right: 0px;
        float: none;
        margin: 0 auto 30px;
    }

    .info-bottom img {
        padding-left: 0px;
        margin: 0px auto 30px;
    }

    .info {
        margin: 0 auto;
    }

    .content-info p {
        font-size: 13px;
        line-height: 24px;
        width: 80%;
        line-height: 28px;
        padding: 0px 0px 40px 10%;
    }

    .signup-btn {
        padding: 12px 50px;
        font-size: 16px;
    }

    #infoimgsp {
        display: inline-block;
    }

    #infoimgpc {
        display: none;
    }


    /*courses*/
    #courses {
        position: relative;
        /*height: 1000px;*/
    }


    .course-title {
        width: 100%;
        padding: 50px 0px;
        font-size: 30px;
    }

    .container-courses {
        width: 100%;
        left: 0%;
        transform: translateX(0%);
    }

    .course {
        background-color: #fff;
        height: 200px;
        width: 40vW;
        margin: 12px 10px;
    }

    .course img {
        padding: 30px 20px 0px;
        width: 50px;
        width: 50px;
    }

    .course p {
        margin-bottom: 20px;
        font-size: 12px;
    }

    .course-btn {
        margin: 0px 12px 10px;
        font-size: 8px;
        padding: 2px 23px;
    }

    .btn br {
        display: inline;
    }


    /*images*/
    .images {
        height: 370px;
    }


    /*access*/

    iframe {
        width: 100%;
        height: 290px;
    }

    #particles-js {
        height: 1100px;
    }


}
